<div id="frontpage" class="bg-white p-6 rounded-lg w-96 flex flex-col gap-4 items-center">
	<button
		id="login-button"
		type="button"
		class="w-64 bg-green-700 text-white py-2 rounded-md hover:bg-green-800"
	>
		Login
	</button>
	<button
		id="register-button"
		type="button"
		class="w-64 bg-green-700 text-white py-2 rounded-md hover:bg-green-800"
	>
		Register
	</button>
	<button
		id="game-debug"
		type="button"
		class="w-64 bg-green-700 text-white py-2 rounded-md hover:bg-green-800"
	>
		Debug Game
	</button>
</div>
